{% extends "base.html" %}

{% block body_class %}static{% endblock %}

{% block content %}
<h1>La Charte Naturapeute</h1>

<p>Naturapeute.ch est un réseau suisse qui promeut les thérapies complémentaires et l’ensemble de ses thérapeutes.
</p>


<h2>L’engagement des thérapeutes</h2>

<p>Chaque thérapeute adhérant au réseau s’engage à :</p>

<ol>
	<li>respecter les autres membres du réseau dans leur personne et leurs pratiques ;</li>
	<li>contribuer au partage de ses connaissances professionnelles aux autres membres à hauteur de ses possibilités et dans le respect de sa pratique ;
	<li>conserver les informations confidentielles ou intimes qui lui sont confiées ;</li>
  <li>Le thérapeute s’engage à lire et accepte sans réserve les conditions d’utilisation.</li>
</ol>

<p>
  Le non respect de cette charte peut entrainer la suppression immédiate et irrévocable du compte du thérapeute et de toutes ses données.
</p>


<h2>L’engagement de Naturapeute</h2>

<p>Ce réseau met en place :</p>

<ul>
	<li>des rencontres entre les thérapeutes ;</li>
	<li>des rencontres avec le grand public sensible aux thérapies complémentaires ;</li>
	<li>des outils de communication soutenant les thérapeutes et leurs thérapies.</li>
</ul>


<h2>Partenariat</h2>

<p>Naturapeute.ch est ouvert à l’étude de tout partenariat au cas par cas. Les membres du réseau et le partenaire se doivent d’agir en bienveillance mutuelle et d’œuvrer dans le sens des thérapies complémentaires, de la santé et du bien-être.
</p>


<h2>Plateforme</h2>

<p>À cette fin, Naturapeute.ch met à disposition un ensemble d’outils numériques ayant pour vocation de faciliter le quotidien des thérapeutes et de favoriser leur promotion.
  Chaque thérapeute a la possibilité d’accéder à l’ensemble des outils, sous réserve de son abonnement et de son équipement.</p>


<h2>Réseau</h2>

<p>Naturapeute.ch met en place des outils de partage de connaissances en respectant leurs auteurs.
  Naturapeute.ch organise des événements autour de sujets divers et variés concernant la santé et le bien-être. Ces événements sont dispensés par des praticiens désirant partager leur vision des thérapies complémentaires.  </p>

<p>Naturapeute.ch s’engage à la promotion et la communication de ces événements.</p>

<p>Naturapeute.ch s’engage à être joignable et disponible aux membres du réseau pour répondre aux questions et suggestions, dans la mesure de ses possibilités.</p>

<p>Chaque thérapeute a la possibilité, selon son abonnement, de promouvoir ses formations, ses œuvres (livres, publications etc.), ses conférences ou tout autre produit dans le respect de cette charte.
  Naturapeute.ch s’engage à mettre à disposition des thérapeutes, et à hauteur de ses moyens, les outils nécessaires à la communication au sein du réseau et à l’entre-aide.</p>

<em>Le savoir ne vaut que s’il est partagé.</em>

{% endblock %}
