{% extends "base.html" %}

{% block body_class %}static{% endblock %}

{% block meta_title %}Salons et rencontres des thérapies complémentaires{% endblock %}
{% block meta_description %}Prochaines rencontres de thérapeutes professionnels en Suisse sur l'accupressing et l'accupuncture, la massothérapie, la kinésiologie, la naturopathie,
l'homéopathie, l'Ayurveda, la nutrition, la réflexologie, la phytothérapie, le shiatsu, les ventouses et la Chromotherapie.{% endblock %}

{% block content %}
<section>
  <h1>Salons et événements autour des thérapies complémentaires</h1>
  <p>
    Voici les prochaines dates de salons et rencontres sur les thérapies complémentaires.<br>
    Ces salons ont lieu autour de Genève, Lausanne, Nyon, Meyrin et d'autres villes en Suisse Romande. <br>
    Les sujets abordés sont l'accupressing et l'accupuncture, la massothérapie, la kinésiologie, la naturopathie, l'homéopathie
    l'Ayurveda, la nutrition, la réflexologie, la phytothérapie, le shiatsu, les ventouses, la Chromotherapie.
  </p>
  <article>
    <p>
      Les 18 et 19 Mai à Villaz-St-Pierre,
        <a href="https://www.recto-verseau.ch/congres-et-salons/vivre-autrement-ca-s-apprend-villaz-st-pierre.html"
        target="_blank"
        title="https://www.recto-verseau.ch/congres-et-salons/vivre-autrement-ca-s-apprend-villaz-st-pierre.html">salon
        Vivre Autrement</a>
    </p>
    <p>
      Les 15 et 16 Juin à Bulle <a href="https://bulle.salontherapiesnaturelles.ch" target="_blank"
        title="https://bulle.salontherapiesnaturelles.ch">salon Thérapies Naturelles</a>
    </p>
    <p>
      Les 20 et 22 Septembre à Genève, <a href="https://www.recto-verseau.ch/inscriptions/salon-holistica-geneve-2019.html"
        target="_blank" title="https://www.recto-verseau.ch/inscriptions/salon-holistica-geneve-2019.html">salon
        Holistica</a>
    </p>
    <p>
      Les 26 et 27 Octobre à Aigle, <a href="http://www.salontherapiesnaturelles.ch/accueil.html" target="_blank"
        title="http://www.salontherapiesnaturelles.ch/accueil.html">salon Thérapies Naturelles</a>
    </p>
    <p>
      Les 26 et 27 Octobre au Châble (VS), <a href="https://synergie-sante.ch" target="_blank" title="https://synergie-sante.ch">salon
        Synergie Santé</a>
    </p>
    <p>
      Les 2 et 3 Novembre à Glovelier (JU), <a href="http://www.salon-vivezen.ch" target="_blank"
        title="http://www.salon-vivezen.ch">salon ViveZen</a>
    </p>
    <p>
      Les 2 et 3 Novembreà Payerne (VD), <a href="https://www.manaosalon.ch" target="_blank"
        title="https://www.manaosalon.ch">salon Mana’O</a>
    </p>
    <p>
      Les 8 et 10 Novembre à Fribourg, <a
        href="http://www.mieux-vivre.ch/mieux-vivre-bien-etre/index.php/fribourg/index-php-option-com-content-view-article-id-15"
        target="_blank"
        title à Fribourg="http://www.mieux-vivre.ch/mieux-vivre-bien-etre/index.php/fribourg/index-php-option-com-content-view-article-id-15">salon
        du Mieux-Vivre</a>
    </p>
    <p>
      Les 23 et 24 Novembre à Vevey, <a href="https://www.recto-verseau.ch/inscriptions/forum-therapeia-yverdon-2019.html"
        target="_blank" title="https://www.recto-verseau.ch/inscriptions/forum-therapeia-yverdon-2019.html">salon
        forum Thérapeia</a>
    </p>
    <p>
      Les 7 et 8 décembre à Pully, <a à Pully href="https://www.recto-verseau.ch/inscriptions/vivre-autrement-pully-2019.html"
        target="_blank" title="https://www.recto-verseau.ch/inscriptions/vivre-autrement-pully-2019.html">salon
        Vivre Autrement</a>
    </p>
  </article>
</section>
{% endblock %}
