{% extends "base.html" %}

{% block content %}
<section id=search>
  <div>
    <h1>Trouvez un thérapeute</h1>
    <form action="/therapeutes" class=row>
      <input type=search name=q placeholder="Quel est votre symptôme principal ?">
      <button class=primary>Rechercher les thérapeutes</button>
    </form>

    Ou trouvez un thérapeute spécialisé dans un pratique :
    <nav>
      {% for therapy in therapies %}
      <a href=/therapeutes/{{ therapy.slug }}>{{ therapy.name }}</a>
      {% endfor %}
    </nav>

    <p>Terrapeute est le réseau des <strong>thérapeutes en Suisse</strong>. Quelques soient vos symptômes,
    il y a toujours un <strong>thérapeute professionnel</strong> à proximité.</p>
  </div>
</section>

<section id=partnership>
  <h2 class="partner iconed">Espace partenaires</h2>
  <p>
    Vous êtes une association, une école ou une antité soigneuse de la santé, de l'éducation et des thérapies complémentaires ?<br>
    Vous souhaiteriez établir un partenariat et communiquer par notre réseau ?
    Nous sommes joignables et ouverts à échanger et vous proposer nos offres de partenariat.
  </p>
  <aside>
    <a href="mailto:contact@terrapeutes.com?subject=Partenariat" class="primary button">Prendre contact</a>
  </aside>
</section>

<style>
  main {
    position: relative;
  }
  main > section {
    padding: 5rem 10rem;
  }

  main nav a {
    display: inline-block;
    margin-right: 1rem;
    color: inherit;
    font-size: .9em;
    text-decoration: none;
  }

  #search {
    background-image: url('/img/home.jpg');
    background-size: cover;
    min-height: 600px;
    color: #555;
    filter: contrast(90%);
    transition: all .3s;
  }
  #search:hover {
    filter: contrast(110%);
  }
  #search > div {
    background-color: rgba(255, 255, 255, .8);
    padding: 4.5rem;
    display: inline-block;
    border-radius: .3rem;
    box-shadow: 0 0 8px rgba(144, 144, 144, .3);
  }
  #search p {
    margin-top: 2rem;
    color: #777;
    font-size: .8rem;
  }

  #search input {
    padding: .8rem;
    margin-right: 0;
    border-color: #888;
    border-right: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  #search button {
    border: 1px solid #888;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #partnership {
    display: inline-flex;
    flex-flow: column;
  }
  #partnership aside {
    margin: 1rem 0;
    text-align: center;
  }

  .partner {
    background-image: url('/img/balloons.svg');
  }
</style>
{% endblock %}
