{% extends "base.html" %}

{% block content %}
<section id=event>
  <img src=/img/event/detox/pot.jpg alt="Les ingrédients de la détox">
  <div>
    <h1>Bien préparer sa « détox » de printemps.</h1>
    <h2>Conférence sur la naturopathie et la nutrition le 17 mars 2020 à Génève</h2>
    <p>La « détox » est un véritable phénomène de mode, et nous allons voir pourquoi ! Nous sortons de l’hiver avec un ou deux
    petits kilos en plus, une fatigue qui s’installe, parfois des problèmes de peau, de sommeil ou de concentration... et le
    printemps arrive. Tous ces signes sont peut-être le témoin d’une accumulation de toxines que l’organisme ne parvient pas
    ou plus assez bien à éliminer. C’est sans doute le bon moment pour une détox !
    Lors de cette conférence, nous verrons ensemble ce qu’est « la détox » exactement, quel est le meilleur moment pour s’y
    mettre, en quoi elle est bénéfique et comment bien la réussir grâce à la nutrition, l’hygiène de vie et la
    phytothérapie.</p>
    <p>Conférence présentée par <a href=/naturopathe-geneve/sarah-finci/rec8vmHBWsOgQxo39>Sarah Finci, naturopathe à Genève</a>.</p>
    <a class="button calltoaction primary" href="https://www.eventbrite.fr/e/billets-bien-preparer-sa-detox-de-printemps-92747639687" target="_blank">Infos & réservations</a>
  </div>
</section>
<section id=search>
  <div>
    <h1>Trouvez un thérapeute</h1>
    <form action="/therapeutes" class=row>
      <input type=search name=q placeholder="Quel est votre symptôme principal ?">
      <button class=primary>Rechercher les thérapeutes</button>
    </form>

    Ou trouvez un thérapeute spécialisé dans un pratique :
    <nav id=therapies>
      {% for therapy in therapies %}
      <a href=/therapeutes/{{ therapy.slug }}>{{ therapy.name }}</a>
      {% endfor %}
    </nav>

    <p>Terrapeute est le réseau des <strong>thérapeutes en Suisse</strong>. Quelques soient vos symptômes,
    il y a toujours un <strong>thérapeute professionnel</strong> à proximité.</p>
  </div>
</section>

<section id=partnership>
  <h2 class="partner iconed">Espace partenaires</h2>
  <p>
    Vous êtes une association, une école, un collectif ou une entité soigneuse de la santé, de l'éducation et des thérapies complémentaires ?
  </p>
  <p>
    Vous souhaiteriez établir un partenariat et communiquer par notre réseau ?
    Nous sommes joignables et ouverts à échanger et vous proposer nos offres de partenariat.
  </p>
  <aside>
    <a href="mailto:contact@terrapeute.ch?subject=Partenariat" class="primary button calltoaction">Prendre contact</a>
  </aside>
</section>

<style>
  main {
    position: relative;
  }
  main > section {
    padding: 5rem 10rem;
  }

  main nav a {
    display: inline-block;
    margin-right: 1rem;
    color: #777;
    font-size: 1em;
    text-decoration: none;
  }

  #event {
    padding: 0;
    display: flex;
  }
  #event div {
    padding: 2rem;
  }
  #event h2 {
    font-size: 1.2rem;
  }

  #search {
    background-image: url('https://livedemo00-joomla.template-help.com/joomla_prod-4972_v1/images/slider/slide-1.jpg');
    background-size: cover;
    min-height: 600px;
    color: #555;
    filter: contrast(90%);
    transition: all .3s;
  }
  #search:hover {
    filter: contrast(110%);
  }
  #search > div {
    background-color: rgba(255, 255, 255, .8);
    padding: 4.5rem;
    display: inline-block;
    border-radius: .3rem;
    box-shadow: 0 0 8px rgba(144, 144, 144, .3);
  }
  #search p {
    margin-top: 2rem;
    color: #777;
    font-size: .8rem;
  }

  #search input {
    padding: .7rem;
    margin-right: 0;
    border-color: rgb(102, 102, 102, .6);
    border-right: 0;
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem;
  }
  #search button {
    border: 1px solid #888;
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #therapies {
    color: #555;
    font-size: .8rem;
  }

  #partnership {
    display: inline-flex;
    flex-flow: column;
    margin: auto 4.5rem;
  }

  .partner {
    background-image: url('/img/balloons.svg');
  }
</style>
{% endblock %}
