{% extends "base.html" %}

{% block content %}
<section id=content>
  {% for provider in providers %}
  <article id="{{ provider.id }}">
    <h1>{{ provider.therapy }}</h1>
    {% import 'partials/avatar.html' as macro %}
    {{ macro.avatar(provider, provider.name + ' : ' + provider.therapies_name | join(', ') + ' à ' + provider.city) }}
    <div>
      <h2>{{ provider.name }}</h2>
      <p>{{ provider.city }}</p>
      <p class=description>{{ provider.description | truncate(120) }}</p>
    </div>
    <footer>
      {% for agreement in provider.agreements %}
      <span class=tag title="{{ provider.therapy }} agréé {{ agreement }}">{{ agreement | upper }}</span>
      {% endfor %}
    </footer>
    <a href=/{{ provider.slug }}/{{ provider.id }} title="{{ provider.name }} est {{ provider.therapies_name | join(', ') }} à {{ provider.city }}">Voir ce {{ provider.therapies[0].name }} à {{ provider.city }}</a>
  </article>
  {% endfor %}
</section>

<aside>
  <div id="map"></div>
</aside>

<style>
  main {
    display: flex;
  }

  aside {
    width: 20rem;
  }

  #content {
    width: calc(100% - 20rem);
  }

  #map {
    min-height: 300px;
    height: calc(100vh - 12rem);
  }

  article {
    position: relative;
    width: 24rem;
    max-height: 14rem;
    display: inline-grid;
    grid-template:
      'avatar title'
      'avatar info'
      'avatar footer'
      / auto 1fr;
    grid-gap: 1rem;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 1rem;
  }
  article p {
    margin: .3rem 0;
  }
  article h1,
  article h2 {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  article h1 {
    font-weight: bold;
    font-size: 1.1rem;
    grid-area: title;
  }
  article h2 {
    font-size: 1rem;
  }
  article .avatar {
    grid-area: avatar;
  }
  article picture {
    overflow: hidden;
  }
  article picture img {
    grid-area: img;
    width: 200px;
    height: 100%;
    object-fit: cover;
  }
  article > div {
    grid-area: info;
  }
  article > footer {
    grid-area: footer;
  }
  article .description {
    font-size: .9em;
    line-height: 1.2;
  }
  article > footer > div {
    margin-top: .7rem;
    padding-top: .7rem;
    border-top: 1px dashed #eee;
  }
  article a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-indent: -999%;
  }
  article a:hover {
    box-shadow: 1px 1px 5px rgba(176, 176, 176, .3)
  }
</style>
{% import "partials/map.html" as macro %}
{{ macro.map(latlng='[46.5, 6.5]', zoom=9) }}
<script>
  const providers = [
    {% for provider in providers %}
      { id: "{{provider.id}}", label: "{{provider.firstname}} {{provider.lastname}} — {{ provider.therapies[0].name }}", latlng: [{{ provider.latlng }}] },
    {% endfor %}
  ]
  const markers = providers.map(provider => {
    const marker = L.marker(provider.latlng)
    marker.bindPopup(`<p>${ provider.label }</p>`)
    marker._provider = provider
    return marker
  })
  const markersGroup = L.featureGroup(markers)
  map.fitBounds(markersGroup.getBounds())
  markersGroup.addTo(map)
</script>

{% endblock %}
