{% extends "base.html" %}

{% block meta_title %}{{ therapist.name }}, {{ therapist.therapies[0] }}{% endblock %}
{{ therapist }}
{% block meta_description %}{{ therapist.name }} est thérapeute agréé {{ therapist.agreements.join(', ') }} en {{ therapist.therapies[0] }}.
{{ therapist.description | truncate(150) }}{% endblock %}

{% block content %}
<article>
  <div>
    <section class=notification>
      {% if therapist.confirmed %}
        <h3>Bienvenue dans le réseau des thérapeutes suisses !</h3>
        <p>Votre profil est confirmé, il sera publié rapidement</p>
        <p>En attendant, <a href="mailto:contact@naturapeute.ch?subject=améliorer ma fiche {{ therapist.slug }}">contactez-nous</a> pour améliorer votre fiche, votre description, vos photos…</p>
        <a class=button href="/">Visiter l'accueil</a>
      {% else %}
        <p>Attention : cette fiche est consultable uniquement par ce lien privé. Si vous souhaitez la publier gratuitement, il vous suffit de la valider !</p>
        <small>Une fois validée, vous pourrez apporter les corrections et améliorations.</small>
        <div class=row>
          <form action="{{ request.url }}" method=post>
            <label class=row>
              <input type=checkbox required>
              <p>
              <small>j'accepte la <a href="/charte.html" target=blank>charte étique du réseau</a> ainsi que <a href="/policy.html" target=blank>les conditions d'utilisation</a></small></p>
            </label>
            <button class=primary>Valider ma fiche</button>
            <hr>
            <p><small>Si vous ne souhaitez pas publier votre fiche, vous pouvez <a href="mailto:contact@naturapeute.ch?subject=Je ne souhaite pas paraitre sur le réseau&body=Identifiant de fiche : {{ therapist.slug }}">nous le signaler par simple email</a></small></p>
          </form>
        </div>
      {% endif %}
    </section>

    <section id=identity>
      {% import 'partials/avatar.html' as macro %}
      {{ macro.avatar(therapist, therapist.name + ' : ' + therapist.therapies[0]) }}
      <h1>{{ therapist.therapies[0] }}</h1>
      <h2>{{ therapist.name }}</h2>


      <p id=agreements title="{{ therapist.therapies[0] }} agréé {{ therapist.agreements }}">Thérapeute
        {% if therapist.agreements.length %}professionnel(le) agréé(e)
          {% for agreement in therapist.agreements -%}
            <span class=tag>{{ agreement }}</span>
          {% endfor %}
        {% elif therapist.isCertified %}professionnel(le) diplomé(e)
        {% endif %}
      </p>

      <p>

        {% for therapy in therapist.therapies %}
          <a href="#" class=therapy title="Thérapeutes en {{ therapy }} ">{{ therapy }}</a>
        {%- endfor %}
      </p>
    </section>

    <section>
      <h3>À propos</h3>
      <p>
        {{ therapist.description | markdown }}
      </p>

      {% if therapist.languages %}
      <p>{{ therapist.name }} parle {% for lang in therapist.languages %}
        {%- if loop.last and not loop.first %} et {% elif not loop.first -%}, {% endif %}
        {{- dict[lang] -}}
        {%- endfor -%}
      </p>
      {% endif %}
    </section>

    {% if therapist.price or therapist.paymentTypes.length %}
    <section>
      <h3>Paiement</h3>
      {{ therapist.price }}
      <p>Moyens de paiement : {{ therapist.paymentTypes.join('<br>') }}</p>
    </section>
    {% endif %}

    {% if therapist.timetable %}
    <section>
      <h3>Horaires</h3>
      <p>{{ therapist.timetable }}</p>
    </section>
    {% endif %}

    {% if therapist.offices.length %}
    <section>
      <h2>Cabinet</h2>
      <address>
        {{ therapist.offices[0].address }}
      </address>
      <div id="map"></div>
    </section>
    {% endif %}

    {% if therapist.offices[0].pictures.length %}
    <section>
      {% for picture in therapist.offices[0].pictures %}
      <img src="{{ picture }}" height=200>
      {% endfor %}
    </section>
    {% endif %}
  </div>

  <aside>
    <ul>
      {% if therapist.socials.length %}
      {% for social in therapist.socials %}
        {% if social.name == 'facebook' %}
          <li><i class="fab fa-facebook-square"></i> <a href="{{ social.url }}" target=_blank>Page Facebook</a></li>
        {% elif social.name == 'website' %}
          <li><i class="fa fa-desktop"></i> <a href="{{ social.url }}" target=_blank>Site internet</a></li>
        {% endif %}
      {% endfor %}
      {% endif %}
    </ul>

    <ul id=contactInfos class=hidden>
      <li><i class="fa fa-phone fa-flip-horizontal"></i> Tel: {{ therapist.phone }}</li>
      <li><i class="fa fa-envelope"></i> <a href="mailto:{{ therapist.email }}">Envoyer un email</a></li>
    </ul>
    <button class=primary id=contactButton><i class="fa fa-phone fa-flip-horizontal"> </i> Contacter</button>
    <a class=button href={{ therapist.url }}.vcf><i class="far fa-address-card"></i> Télécharger la vCard</a>
  </aside>
</article>

<style>
  article {
    overflow: hidden;
  }
  .notification {
    animation: 3s ease-out 0s 1 slideIn;
  }

  @keyframes slideIn {
  0% {
    transform: scaleY(0);
    height: 0;
  }
  90% {
    transform: scaleY(0);
    height: 0;
  }
  91% {
    height: auto;
  }
  100% {
    transform: scaleY(1);
    height: auto;
  }
}


  article {
    display: flex;
    justify-content: space-between;
    max-width: 60rem;
    margin: 2rem auto;
    background-color: #fff;
    padding: 2rem;
    box-shadow: 1px 1px 3px rgba(188, 188, 188, .3);
  }
  article > div {
    flex-grow: 1;
  }

  #agreements {
    font-size: .8rem;
  }

  section:not(:last-of-type) {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #eee;
  }

  aside {
    min-width: 300px;
  }

  #map {
    width: 100%;
    height: 300px;
  }

  #identity .avatar {
    float: right;
    margin: 0 1rem 1rem;
    height: 300px;
  }
  .avatar img {
    max-height: 100%;
  }

  h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
    font-weight: bold;
  }
  h2 {
    font-size: 1.2em;
  }
  h3 {
    font-size: 1em;
    margin-bottom: .5rem;
  }
  .hidden {
    display: none;
  }
  #contactButton {
    width: 100%;
  }
  a {
    color: inherit;
    text-decoration: none;
  }

  aside {
    margin-left: 2rem;
  }
  aside ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  aside button,
  aside .button {
    margin-top: 1rem;
    width: 100%;
  }
</style>

{# After CSS for map sizing reasons #}
{% import 'partials/map.html' as macro %}

{{ macro.map(latlng=therapist.offices[0].location.coordinates.reverse(), zoom=12) }}
<script>
  document.querySelector('#contactButton').addEventListener('click', () => {
    document.querySelector('#contactInfos').classList.remove('hidden')
  })
  const latlng = [{{ therapist.offices[0].location.coordinates }}]
  const marker = L.marker(latlng).addTo(map)
</script>

{% endblock %}
