{% extends "base.html" %}

{% block body_class %}admin{% endblock %}

{% block meta_title %}Editer un article{% endblock %}

{% block content %}
<form method=post id="edit-form">
  <input type=hidden name=id value={{ article.id }}>
  <div>
    <label>URL de l'image</label>
    <input name="image" value="{{ article.image }}" placeholder="Image de l'article">
  </div>
  <div>
    <label>Titre</label>
    <input name="title" value="{{ article.title }}" required placeholder="Titre de l'article">
  </div>
  <div>
    <label>Contenu</label>
    <input type=hidden name=body id=body-input value="{{ article.body }}">
    <trix-editor input=body-input></trix-editor>
  </div>
  <div>
    <label>Tags</label>
    <input name="tags" placeholder="Tags" value="{{ article.tags.join(', ') }}">
  </div>
  <div>
    <label>Auteur</label>
    <select name=therapist>
      {% for therapist in therapists %}
      <option value="{{ therapist.id }}" {% if therapist == article.therapist %}selected{% endif %}>{{ therapist.label }}</option>
      {% endfor %}
    </select>
  </div>
  <input type=submit value=Enregistrer>
</form>

<style>
  form > * {
    margin-bottom: 1rem;
  }
  #editor {
    min-height: 300px;
    width: 100%;
  }
  .medium-editor-element {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
  }
</style>

<script src=/js/trix-core.js></script>
<script src=/js/trix.js></script>
<link rel=stylesheet href=/css/trix-core.css>
<link rel=stylesheet href=/css/trix.css>

<script>
  addEventListener("trix-attachment-add", async (event) => {
    if (event.attachment.file) {
      const form = new FormData()
      const file = event.attachment.file
      const userText = window.getSelection().toString()
      form.append("Content-Type", file.type)
      form.append('id', document.querySelector('[name=id]').value)
      form.append('file', file)
      const response = await fetch('/upload', { method: 'post', body: form })
      const attributes = await response.json()
      if(!event.attachment.file.type.startsWith('image')) {
        attributes.content = userText || event.attachment.file.name
      }
      event.attachment.setAttributes(attributes)
    }
  })
</script>

{% endblock %}
