{% extends "base.html" %}

{% block body_class %}admin{% endblock %}

{% block meta_title %}Editer un article{% endblock %}

{% block content %}
<form method=post id="edit-form">
  <input name="title" value="{{ article.title }}" required placeholder="Titre de l'article">
  <div id=editor placeholder="Texte de l'article">{{ article.body|markdown }}</div>
  <input type=hidden name=body value="">
  <input name="tags" placeholder="Tags" value="{{ article.tags.join(', ') }}">
  <select name=therapist>
    {% for therapist in therapists %}
    <option value="{{ therapist.id }}" {% if therapist == article.therapist %}selected{% endif %}>{{ therapist.label }}</option>
    {% endfor %}
  </select>
  <input type=submit value=Enregistrer>
</form>

<style>
  #editor {
    min-height: 300px;
    width: 100%;
  }
</style>

<link rel=stylesheet href=https://cdn.jsdelivr.net/gh/sofish/pen/src/pen.css>
<script src=https://cdn.jsdelivr.net/gh/sofish/pen/src/pen.js></script>
<script>
  const editor = new Pen({
    editor: document.querySelector('#editor'),
    textarea: '<textarea name="body"></textarea>',
    // list: ['bold', 'italic', 'underline'],
    linksInNewWindow: true
  })

  document.querySelector('#edit-form').addEventListener('submit', (event) => {
    const form = event.target
    form.body.value = editor.toMd()
  })
</script>
{% endblock %}
