{% extends "base.html" %}

{% block body_class %}admin{% endblock %}

{% block meta_title %}Editer un article{% endblock %}

{% block content %}
<form method=post id="edit-form">
  <div>
    <label>URL de l'image</label>
    <input name="image" value="{{ article.image }}" placeholder="Image de l'article">
  </div>
  <div>
    <label>Titre</label>
    <input name="title" value="{{ article.title }}" required placeholder="Titre de l'article">
  </div>
  <div>
    <label>Contenu</label>
    <textarea name=body placeholder="Texte de l'article">{{ article.body|markdown }}</textarea>
  </div>
  <div>
    <label>Tags</label>
    <input name="tags" placeholder="Tags" value="{{ article.tags.join(', ') }}">
  </div>
  <div>
    <label>Auteur</label>
    <select name=therapist>
      {% for therapist in therapists %}
      <option value="{{ therapist.id }}" {% if therapist == article.therapist %}selected{% endif %}>{{ therapist.label }}</option>
      {% endfor %}
    </select>
  </div>
  <input type=submit value=Enregistrer>
</form>

<style>
  form > * {
    margin-bottom: 1rem;
  }
  #editor {
    min-height: 300px;
    width: 100%;
  }
  .medium-editor-element {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
  }
</style>

<script src="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/js/medium-editor.min.js"></script>
<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css" type="text/css" media="screen" charset="utf-8">

<script>var editor = new MediumEditor('textarea')</script>

{% endblock %}
