<p>
  La sophrologie vise à trouver l’équilibre entre le corps et l’esprit en sortant d’une vision non réaliste et négative.
  Elle utilise des moyens de relaxation mettant à jour tensions et blocages pour les dépasser, renforcer le positif et
  développer notre potentiel à travers la connaissance de soi.
</p>
<p>
  La respiration est la base de la sophrologie : elle permet, grâce à des exercices simples, d’éliminer le stress corporel
  et mental au quotidien pour éviter une accumulation avec des conséquences importantes.
</p>

<p>
  Grâce à la respiration, la détente physique et mentale, la visualisation, la sophrologie offre diverses techniques à but
  thérapeutique, préventif, pédagogique.
</p>

<h2>Les objectifs de la sophrologie</h2>

<ul>
  <li>une meilleure récupération physique et mentale ;</li>
  <li>développement des fonctions des 2 hémisphères cérébraux (une séance de sophrologie représente 2 à 3 heures de récupération !) ;</li>
  <li>épanouissement de la personnalité ;</li>
  <li>renforcement de la confiance en soi ;</li>
  <li>apprendre à devenir plus conscient ;</li>
  <li>développement de la pensée positive ;</li>
  <li>protection contre le stress exagéré, gestion des angoisses ;</li>
  <li>vécu de la réalité objective</li>
</ul>

<h2>Domaines d'application de la sophrologie</h2>

<ul>
  <li>gestion du stress et des émotions (peur, colère, tristesse) ;</li>
  <li>gestion des troubles psychosomatiques (douleurs dorsales, troubles digestifs, intestinaux, cardiaques, migraine, réactions cutanés…) ;</li>
  <li>troubles du sommeil ;</li>
  <li>gestion des angoisses, phobies, obsessions… ;</li>
  <li>concentration ;</li>
  <li>mémoire ;</li>
  <li>renforcement de la confiance en soi et estime de soi ;</li>
  <li>harcèlement moral, au travail ;</li>
  <li>burn-out ;</li>
  <li>entraînement de la personnalité, de la créativité ;</li>
  <li>préparation à l’accouchement ;</li>
  <li>préparation du sportif ;</li>
  <li>gestion des troubles alimentaires…</li>
</ul>

<p>
  Le but d'une séance est de renforcer de manière efficace et durable la confiance en soi et l'estime de soi qui
  permet de vivre pleinement le moment présent et de se projeter dans un futur positif.
</p>


<h2>Sophrologie chez les enfants</h2>

Dans un premier temps, elle va aider au développement global de l’enfant : développement moteur, affectif, intellectuel
et social grâce à la maîtrise de son corps, de ses gestes, de ses mouvements, de ses sens et de toutes ses fonctions
physiologiques (respiration, circulation) et mentale (concentration, mémoire, raisonnement, imagination…).

Dans un second temps, elle apporte une meilleure maîtrise de son environnement grâce à l’élargissement de sa conscience,
une meilleure structuration, une meilleure perception et compréhension du réel, l’harmonie, l’amélioration de la
concentration et mémorisation.


Les domaines d’applications de la sophrologie pour les enfants sont :

gestion du stress et des émotions (peur, colère, tristesse)
renforcement de la confiance en soi et estime de soi
concentration
mémoire
préparation aux examens
harcèlement scolaire
troubles du comportement
hyperactivité / timidité
troubles du sommeil (endormissement, réveils nocturnes, cauchemars)
douleurs psychosomatiques (mal de ventre, migraine, douleurs, énurésie, mal-être…)
développement de la créativité…


Les séances se déroulent sous forme de jeux. On utilise le souffle (respiration), la voix, le corps (pour la détente
physique), les jeux de rôle (créativité, imaginaire…), les histoires (pour travailler le mental)…


Grâce à la respiration, la détente physique et mentale, la visualisation, l’étude de la conscience et de ses
modifications, la sophrologie est une technique psychocorporelle très active et complète qui vise à atteindre l’harmonie
intérieure, à retrouver la maîtrise de soi en prenant conscience de nos capacités, de nos forces et développer notre
potentiel.
Pour les petits et pour les grands !
