{% extends "base.html" %}

{% block meta_title %}{{ article.title }}{% endblock %}

{% block content %}
<article>
  <header>
    <h1>{{ article.title }}</h1>

    {% for tag in article.tags %}
    {% if tag %}
    <span class=tag>{{ tag }}</span>
    {% endif %}
    {% endfor %}
  </header>

  {{ article.body|markdown }}

  <footer>
    <p>Article rédigé le <time>{{ article.creationDate.toLocaleDateString() }}</time></p>
  </footer>
</article>

<style>
  article {
    max-width: 1000px;
    margin: 1rem auto;
    padding: 3rem;
  }
  article > header {
    margin-bottom: 2rem;
  }
  h1 {
    margin-bottom: .3rem;
  }
  article > footer {
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px dashed #ccc;
    font-style: italic;
    font-size: .8rem;
  }
</style>

{% endblock %}
