{% extends "therapies/base.html" %}

{% block title %}Les thérapies complémentaires{% endblock %}

{% block main %}

  <p>
    Le réseau Naturapeute propose une série de thérapies complémentaires au travers
    d'un réseau de thérapeutes professionnels agréé.<br>
    Les thérapeutes du réseau sont disponibles autour de Genève, Lausanne, Nyon, Lancy et dans les autres villes de la Suisse Romande.
  </p>
  <p>La liste des thérapies ci-dessous vous donnera davantage d'informations sur les objectifs et les détails de chaque pratique.</p>
  <p>
    Chaque thérapeute du réseau apporte son complément et son savoir-faire aux thérapies qu'il pratique et approfondir votre accompagnement.
  </p>

  <dl>
    <dt>La Sohprologie</dt>
    <dd></dd>
    <dd><a href="/therapies/sophrologie">La sophrologie en détails</a></dd>
    <dd><a href="/therapeutes/sophrologie">Trouver un sophrologue</a></dd>
    <dt>La Kinesiologie</dt>
    <dd></dd>
    <dd><a href="/therapies/kinesiologie">La kinésiologie en détails</a></dd>
    <dd><a href="/therapeutes/kinesiologie">Trouver un kinésiologue</a></dd>
    <dt>La Naturopathie</dt>
    <dd></dd>
    <dd><a href="/therapies/naturopathie">La naturopathie en détails</a></dd>
    <dd><a href="/therapeutes/naturopathie">Trouver un naturopathe</a></dd>
    <dt>La Phytotherapie</dt>
    <dd></dd>
    <dd><a href="/therapies/phytotherapie">Ces tisanes salvatrices</a></dd>
    <dd><a href="/therapeutes/phytotherapie">Trouver un phytotherapeute</a></dd>
  </dl>
{% endblock %}
