{% extends "therapies/base.html" %}

{% block title %}La kinésiologie{% endblock %}

{% block main %}

<p>La kinésiologie est une thérapie complémentaire dite brève. Généralement une seule séance est suffisante, sauf cas
exceptionnel nécessitant un suivi. La séance se fait en habits de ville confortables. Seules les chaussures sont otées pour la deuxième partie suivant l'anamnèse.
</p>
​

<p>Elle peut se faire pour régler une problématique psychique ou physique. Elle est adaptée même en parallèle d’un autre soin, durant un traitement médical ou en prévention.
</p>
​

<p>Particulièrement adaptée pour les personnes avec une approche mentale de la vie, la kinésiologie tente de tout résoudre par la réflexion. Une séance peut permettre de sortir du cadre pour obtenir un
nouvel angle d'approche à une problématique et trouver une solution nouvelle avec des outils adaptés. Une ré-écoute du corps pour faciliter la guérison. Améliorer l'appréhension avec le corps
et accepter de laisser sortir les émotions pour s'en en libérer. Alléger certaines émitions lourde pour en faire un moteur.
</p>
​

<h2>Objectifs de la kinésiologie</h2>

<ul>
<li>soutenir un objectif qui parait inatteignable</li>
<li>aiguiller une introspection, un changement de direction, une décision à prendre…</li>
<li>répondre à un état passager ou en place depuis (trop) longtemps</li>
<li>remédier à une problématique de type physique ou psychique, qu’elle soit ponctuelle ou chronique</li>
</ul>


<h2>Outils en kinésiologie</h2>

<ul>
<li>votre structure (os, muscles, organes)</li>
<li>vos centres énergétiques (méridien, accupressure, exercices)</li>
<li>ce qui vous entoure, l’écologie personnelle (alimentation, environnement, huiles essentielles, plantes…)</li>
<li>votre mental (émotions, souvenirs, blocages, habitudes, croyances, tic)</li>
</ul>

<p>
Un test musculaire, appelé aussi <em>bio-feedback</em> sert d’intermédiaire permettant d’avancer et de trouver la solution la plus adaptée.
</p>

<footer>
  Texte adapté par Terrapeutes.com, dont l'original est rédigé par <a href=/kinesiologie-renens/verena-ferraro/rec6xt1ORDGzkrBwv>Verena Ferraro, kinésiologue à Renens et Les Monts-de-Pully</a>
</footer>
{% endblock %}
