{% extends "therapies/base.html" %}

{% block title %}La Naturopathie{% endblock %}

{% block main %}
<p>
La naturopathie est une médecine douce, complémentaire, qui s’inscrit dans une démarche de santé globale et qui
accompagne les personnes dans une recherche de bien-être et de meilleure santé.
</p>

<p>
Cette approche considère l’être humain dans sa globalité, en tant qu’individu unique. Le but est de mettre en action
tous les leviers possibles pour améliorer sa vitalité et de permettre de faire face à tout type de trouble ou de
déséquilibre, en régulant les processus physiologiques.
</p>
<p>
  Dans cette optique, on utilise différents outils et techniques liés à l’alimentation et à l’hygiène de vie. On peut
également conseiller des remèdes naturels comme des compléments alimentaires, des plantes, des huiles essentielles, des
oligo-éléments, etc.
</p>
<p>Dans un suivi, on intègre généralement des techniques manuelles et énergétiques comme la réflexologie, le shiatsu assis,
ou la pose de ventouses.
</p>
<p>L’idée n’est pas seulement de faire taire un symptôme, mais d’essayer d’en comprendre l’origine et d’en traiter la
cause. L’accompagnement thérapeutique s’effectue donc sur la durée, car on effectue un travail de terrain.
</p>

<footer>
  Texte adapté par Terrapeute.ch, dont l'original est rédigé par <a
    href=/naturopathe-geneve/sarah-finci/rec8vmHBWsOgQxo39>Sarah Finci, naturopathe à Genève</a>
</footer>
{% endblock %}
