{% extends "therapies/base.html" %}

{% block title %}Ces tisanes salvatrices{% endblock %}

{% block main %}
<p>En fonction du mal à soulager, la dose recommandée des plantes varie.<br>
C'est pourquoi il est essentiel de vous référer à votre thérapeute sur la posologie qui vous convient au mieux.
</p>


<h2>Infection urinaire, calculs rénaux ; la pariétaire</h2>

<p><strong>Pariétaire</strong> (<em>Parietaria officinalis</em>)</p>
<p>
Allez vous promener non loin des murs en pierre chauffés par le soleil. Vous y découvrirez une plante : <strong>la pariétaire</strong>. Son nom vient de « parois », dʼoù elle sʼagrippe ardemment et sûrement. Plante de pierre, elle casse les <strong>calculs rénaux</strong>, agit sur les <strong>infections de la vessie</strong>. <strong>Diurétique</strong>, une tisane de pariétaire saura vous nettoyer efficacement des impuretés du <strong>système urinaire</strong>. <br>
Plante ancienne et très costaude, elle est présente depuis le paléolithique.
</p>

<p>
Autre utilisation connue, pour sa texture abrasive, elle est appelée en Italie « erba di vitro » car elle aurait pour propriété de polir le verre et faire briller la vaisselle… peut-être est-ce pour cela quʼon lʼappelle dans certaines contrées de France « herbe à bouteille » ?
</p>

<h2>Les plantes pour la détente et la digestion</h2>
<p>
<strong>Digestion</strong> : verveine citronnée (<em>Aloysia citrodora</em>), melisse (<em>Melissa officinales</em>), romarin (<em>Romarinus officinalis</em>), graine de fenouil (Foeniculum vulgaris).
</p>
<p>
Quoi de plus efficace que cette bonne tisane concoctée pour <strong>digérer plus facilement</strong>. Ces plantes stimulent la vésicule biliaire et agissent sur les <strong>douleurs et spasmes au ventre</strong>. Utile avant le coucher, cette tisane vous détendra le ventre pour un <strong>sommeil plus tranquille</strong>.
</p>


<h2>Le genévrier pour les rhumes</h2>
<p>
<strong>Rhume</strong> : Baie de genièvre (<em>Juniperus communis</em>), thym (<em>Thymus vulgaris</em>), romarin (<em>Rosmarinus officinalis</em>), clou de girofle (<em>Thymus vulgaris</em>).
</p>

<p>
Longtemps convoité pour ses propriétés antiseptiques puis pour être ensuite oublié des pharmacopées, le genévrier commun est pourtant une des <strong>plantes antiseptiques les plus puissantes</strong>. En prévention dʼun <strong>rhume</strong>, préparez-vous régulièrement cette tisane avec ces plantes qui ont toutes cette propriété utile lorsque le froid arrive.
</p>

<h2>Douleurs menstruelles</h2>
<p>
<strong>Douleur menstruelle, dysménorrhée</strong> : Rue (<em>Ruta graveolens</em>), sauge (Salvia officinalis)
</p>
<p>
Regardez une carte géographique et vous lisez le long dʼun cour dʼeau : « ru »…
</p>

<p>
  Cʼest bien de là que le nom de la plante rue tient son nom, elle fait couler le sang. Plante utile pour les femmes depuis lʼantiquité, elle agit en stimulant les muscles de lʼappareil utérin et facilite les pertes menstruelles. <br>
  Attention la rue comme la sauge, plantes très puissantes, sont déconseillées aux femmes enceintes car en effet, elles provoquent des spasmes pouvant mener à la fausse couche.
</p>

<p>
Mais quand il sʼagit des <strong>douleurs menstruels</strong> et des <strong>cycles irréguliers</strong>, ces plantes agissent efficacement sur les hormones féminines. Elle permettent de réguler et de « sauver » comme son nom lʼindique pour la sauge, « salvia »,de « Salvo » en latin puis « salvare » en Italien, de certaines souffrances. La sauge est une plante emblématique des maux : neuro-protectrice et anti-inflammatoire, elle a donc tout pour être utilisée en tisane salvatrice.
</p>

<blockquote>
Tout peut être toxique à haute dose, il suffit de prendre la <em>juste mesure</em> pour votre corps.
</blockquote>

<footer>
  Texte rédigé pour Naturapeute par <a
    href=https://pepin-paysages.com>Hélène Pépin, guide botaniste à Marseille</a>
</footer>
{% endblock %}
